
/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #f9f9f9;
  padding: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  text-decoration: none;
  color: #333;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
  text-align: center;
  background-color: #f2f2f2;
}

.hero-text {
  margin-bottom: 20px;
}

.hero-text h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #555;
}

.about {
  padding: 50px;
  text-align: center;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about .about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .center-image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 40px;
  margin-bottom: 20px;
}

.about .text {
  text-align: justify;
  max-width: 600px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #87CEFA;
  color: #fff;
}

.footer-content .logo h2 {
  font-size: 24px;
}

.social-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.social-links a {
  color: #fff;
  font-size: 18px;
  margin-right: 10px;
  text-decoration: none;
}

.bottom-bar {
  padding: 10px;
  text-align: center;
  background-color: #f2f2f2;
  color: #333;
}

